:root {
  --branco: #FFFFFF;
  --amarelo: #FFCB47;
  --cinza: #909090;
  --preto: #202020;
  --amarelo30: #FFCB473D;

  --fonte-corpo: "Montserrat";
  --fonte-secundaria: "Elsie Swash Caps";

  --tamanho-corpo: 1rem;
}